{% extends 'public/base_cpanel.html' %}
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='assets/vendor/css/tabla-bonita.css') }}"
/>
<style>
  /* Oculta la tabla antes de que DataTables la procese */
  #tbl_libros {
    visibility: hidden;
  }
</style>
{% endblock %}

{% block title %}MetaSave Information 🖥 | Tarjetas RFID{% endblock %}

{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">REGISTROS DE TARJETA RFID</h3>
      <hr />
    </div>

    <div class="d-flex justify-content-end mb-3 px-4">
      <a
        href="#"
        id="descargarExcelBtn"
        class="btn btn-outline-success"
        style="color: #808686"
      >
        <i class="bi bi-file-earmark-text"></i>
        Descargar Reportes
      </a>
    </div>

    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover px-4">
        <table
          id="tbl_libros"
          class="table table-striped table-bordered"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <tr>
              <th>ID Tarjeta</th>
              <th>UID Tarjeta</th>
              <th>Nombre</th>
              <th>Fecha-hora acceso</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for tarjeta_rfid in datos_tarjeta %}
            <tr id="tarjeta_{{ tarjeta_rfid.id_tarjeta }}">
              <td>{{ tarjeta_rfid.id_tarjeta }}</td>
              <td>{{ tarjeta_rfid.tarjeta }}</td>
              <td>{{ tarjeta_rfid.nombre_usuario }}</td>
              <td>{{ tarjeta_rfid.fecha_hora }}</td>
              <td>
                {% if tarjeta_rfid.estado == 'activo' %}
                <span class="badge bg-success">{{ tarjeta_rfid.estado }}</span>
                {% else %}
                <span class="badge bg-danger">{{ tarjeta_rfid.estado }}</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
<script>
  // Función para descargar en Excel
  document
    .getElementById("descargarExcelBtn")
    .addEventListener("click", function () {
      try {
        var table = document.querySelector("#tbl_libros");
        var rows = Array.from(table.querySelectorAll("tbody tr"));

        var data = [
          [
            "ID Tarjeta",
            "UID Tarjeta",
            "Nombre",
            "Fecha-hora acceso",
            "Estado",
          ],
        ];

        data = data.concat(
          rows.map((row) => {
            var cells = Array.from(row.cells);
            return cells.map((cell) => cell.innerText);
          })
        );

        var libro = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(
          libro,
          XLSX.utils.aoa_to_sheet(data),
          "RegistrosTarjeta"
        );
        XLSX.writeFile(libro, "registros_tarjeta.xlsx");
      } catch (error) {
        console.error("Error al generar el archivo Excel:", error);
      }
    });

  $(document).ready(function () {
    // Inicializa DataTables
    $("#tbl_libros").DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json",
        search: "Buscar:",
      },
      lengthMenu: [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "Todos"],
      ],
      pageLength: 5,
      initComplete: function (settings, json) {
        $(this).css("visibility", "visible");
      },
    });
  });
</script>
{% endblock %}
