{% extends 'public/base_cpanel.html' %} {% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='assets/vendor/css/tabla-bonita.css') }}"
/>
<style>
  /* Oculta la tabla antes de que DataTables la procese */
  #tbl_libros {
    visibility: hidden;
  }
</style>
{% endblock %} {% block title %}Data Center 🖥 | Sensores de Temperatura{%
endblock %} {% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">REGISTROS DE TEMPERATURA</h3>
      <hr />
    </div>

    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover px-4">
        <table
          id="tbl_libros"
          class="table table-striped table-bordered"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <tr>
              <th>ID</th>
              <th>Fecha</th>
              <th>Temperatura</th>
              <th>Descripción</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for sensor_temperatura_h in datos_sensor_temperatura %}
            <tr id="temperatura_{{ sensor_temperatura_h.id_sensor }}">
              <td>{{ sensor_temperatura_h.id_sensor }}</td>
              <td>{{ sensor_temperatura_h.fecha_alerta }}</td>
              <td>{{ sensor_temperatura_h.temperatura }}</td>
              <td>
                {% if sensor_temperatura_h.descripcion == 'Temperatura crítica'
                %}
                <span class="badge bg-dangerb"
                  >{{ sensor_temperatura_h.descripcion }}</span
                >
                {% else %}
                <span class="badge bg-success"
                  >{{ sensor_temperatura_h.descripcion }}</span
                >
                {% endif %}
              </td>
              <td>
                <a
                  href="#"
                  onclick="eliminarSensor('{{ sensor_temperatura_h.id_sensor }}');"
                  class="btn btn-danger btn-sm"
                  title="Eliminar registro de temperatura"
                >
                  <i class="bi bi-trash3"></i> Eliminar
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block customJS %}
<script>
  function eliminarSensor(id_sensor) {
    if (confirm("¿Estás seguro que deseas eliminar este registro?")) {
      window.location.href = `/eliminar-sensor-temperatura/${id_sensor}`;
    }
  }

  $(document).ready(function () {
    // Inicializa DataTables
    $("#tbl_libros").DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json",
        search: "Buscar:", // Cambia el texto de búsqueda
      },
      lengthMenu: [
        [5, 10, 25, 50, -1],
        [5, 10, 25, 50, "Todos"],
      ],
      pageLength: 5,
      // Esta función se ejecuta cuando la tabla está completamente dibujada
      initComplete: function (settings, json) {
        // Hacemos visible la tabla
        $(this).css("visibility", "visible");
      },
    });
  });
</script>
{% endblock %}
